.gt-wrap .switcher .selected a{
	border: 1px solid transparent;
    padding: 3px 5px;
	
}
.gt-wrap .switcher .option a {
	background: #fff;
	padding: 7px;
}
.gt-wrap .switcher .selected {
    background:transparent;
}
.gt-wrap .switcher .option{
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}