.gt-wrap .switcher .selected a{
	border: 1px solid transparent;
    padding: 3px 5px;
	
}
.gt-wrap .switcher .option a {
	background: #fff;
	padding: 7px;
}
.gt-wrap .switcher .selected {
    background:transparent;
}
.gt-wrap .switcher .option{
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: absolute;
}
.gt-wrap .selected a img[alt="en"] {
	visibility: hidden;
  }

  .gt-wrap [data-lang="English"] .selected a:before {
    content: "";
    -webkit-mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205.229 205.229' xmlns:v='https://vecta.io/nano'><path d='M102.618 205.229C46.033 205.229.002 159.198.002 102.613S46.033 0 102.618 0s102.609 46.031 102.609 102.613S159.2 205.229 102.618 205.229zm0-196.611c-51.829 0-94.002 42.166-94.002 93.995s42.17 93.995 94.002 93.995c51.825 0 93.988-42.162 93.988-93.995S154.444 8.618 102.618 8.618z'/><path d='M5.746 98.304H199.48v8.618H5.746zm99.195-36.193c-48.644 0-84.94-10.704-87.199-11.388l2.494-8.253c.816.247 82.657 24.336 164.38-.004l2.452 8.26c-28.663 8.54-57.047 11.385-82.127 11.385zm-84.525 98.461l-2.459-8.26c84.271-25.081 165.898-1.027 169.333 0l-2.494 8.256c-.82-.25-82.654-24.328-164.38.004z'/><path d='M69.399 196.168C26.933 96.747 63.584 8.604 63.959 7.727l7.927 3.378c-.365.845-35.534 85.756 5.44 181.677l-7.927 3.386zm65.769 0l-7.927-3.382c40.971-95.92 5.801-180.832 5.436-181.677l7.927-3.378c.369.873 37.023 89.016-5.436 188.437zM98.306 5.744h8.614v197.302h-8.614z'/></svg>") center/cover no-repeat;
    mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205.229 205.229' xmlns:v='https://vecta.io/nano'><path d='M102.618 205.229C46.033 205.229.002 159.198.002 102.613S46.033 0 102.618 0s102.609 46.031 102.609 102.613S159.2 205.229 102.618 205.229zm0-196.611c-51.829 0-94.002 42.166-94.002 93.995s42.17 93.995 94.002 93.995c51.825 0 93.988-42.162 93.988-93.995S154.444 8.618 102.618 8.618z'/><path d='M5.746 98.304H199.48v8.618H5.746zm99.195-36.193c-48.644 0-84.94-10.704-87.199-11.388l2.494-8.253c.816.247 82.657 24.336 164.38-.004l2.452 8.26c-28.663 8.54-57.047 11.385-82.127 11.385zm-84.525 98.461l-2.459-8.26c84.271-25.081 165.898-1.027 169.333 0l-2.494 8.256c-.82-.25-82.654-24.328-164.38.004z'/><path d='M69.399 196.168C26.933 96.747 63.584 8.604 63.959 7.727l7.927 3.378c-.365.845-35.534 85.756 5.44 181.677l-7.927 3.386zm65.769 0l-7.927-3.382c40.971-95.92 5.801-180.832 5.436-181.677l7.927-3.378c.369.873 37.023 89.016-5.436 188.437zM98.306 5.744h8.614v197.302h-8.614z'/></svg>") center/cover no-repeat;
    background:
    rgb(210, 227, 27);
    position: absolute;
    top: 0px;
    left: 6px;
    width: 18px;
    height: 18px;
}

.gt-wrap .selected a::after{
	opacity: 0;
}
.gt-wrap.gt-flag-hide .switcher a img{
	display: none !important;
}
.gt-wrap.gt-text-hide .switcher a{
	font-size: 0px !important;
}

.gt-wrap.gt-text-hide .switcher .option{
	width: 60px;
}

.lang-list{
    text-align: center;
    text-transform: uppercase;
}
body .lang-list a{
    color: cornflowerblue;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}
.lang-list img{
    margin: 0;
}


/*Gallery*/

.gallery {
  width: 100%;
  margin-bottom: 20px;
}
.gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.gallery-slider .swiper-slide {
  width: auto;
  height: 400px;
}
.gallery-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.gallery-thumbs {
  width: 100%;
  padding: 7px;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide {
  width: 115px;
  height: auto;
  text-align: center;
  overflow: hidden;
  /* opacity: 0.4; */
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.gallery-thumbs .swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.slide-arrow {
  position: absolute;
  display: inline-flex;
  z-index: 10;
  top: 50%;
  line-height: 1;
  /* margin-top: -2em; */
  cursor: pointer;
  background: #bf3939;
  padding: 7px;
  transform: translateY(-50%);
}
.slide-arrow:hover {
  /* opacity: 0.6; */
}
.slide-arrow.swiper-button-disabled {
  display: none;
}
.slide-arrow__prev {
  right: 0;
}
.slide-arrow__next {
  left: 0;
}
.slide-arrow .material-icons {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #333;
  line-height: 1;
}
.slide-arrow svg {
  width: 2em;
  height: 2em;
  position: relative;
  display: block;
}

.gallery.gallery-vertical{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-vertical .gallery-thumbs {
    float: left;
    width:150px;
    height: 400px;
    flex-grow: 2;
    justify-content: stretch;
    align-self: start;
    /* flex: 1; */
}
.gallery-vertical .gallery-thumbs.thumb-left{
  margin-right: 10px;
}
.gallery-vertical .gallery-thumbs.thumb-right{
	 margin-left: 10px;
}

.gallery-thumbs .swiper-slide {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7 ease;
  overflow: hidden;
}
.swiper-slide{
  position: relative;
}
.gallery-thumbs .swiper-slide .thumb-item::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  left: 0;
  top: 0;
  z-index: 1;
}
.elementor-custom-embed-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.elementor-custom-embed-play i {
  font-size: 49px;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
}
.plyr--video {
  height: 100%;
}
.gallery .plyr__poster{
  background-size: cover;
}
.gallery .swiper-slide.video-thumb i.eicon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.gallery .swiper-slide.video-thumb {
  position: relative;
}
.main-slide, .gallery-thumbs .swiper-slide .thumb-item{
  background: no-repeat 50%;
  background-size: cover;
  /* height: 100%; */
  position: relative;
}
.plyr audio, .plyr iframe, .plyr video {
  object-fit: cover;
}
.gallery-horizontal .thumb-item.elementor-fit-aspect-ratio{
  height: 0;
}
.gallery-horizontal .gallery-thumbs .swiper-slide{
  height: auto;
}
.swiper-container-vertical>.swiper-wrapper {
  align-items: center;
}
.gallery .swiper-lazy-preloader{
  border: none;
}
.horizontal-wrap{
  position: relative;
}
.gallery-thumbs .swiper-slide {
  height: auto !important;
  margin-bottom: 15px !important;
}